@model IEnumerable<MySchedulerWeb.Models.DayEvent>

@{
    ViewData["Title"] = "Events";
}

<h1>Event list</h1>

<p>
    <a asp-action="Create">Create new event</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartEventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndEventDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartEventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndEventDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Count)
            </td>
            @if (item.Creator != User.Identity.Name)
            {
                <td>
                    @if (item.Users.FirstOrDefault(u => u.Email == User.Identity.Name) == null)
                    {<a asp-action="SignInOut" asp-route-id="@item.Id" >Sign in</a> }
                    else
                    { <a asp-action="SignInOut" asp-route-id="@item.Id">Sign out</a>}
                </td>
            }
            else
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>
